.hero-section {
    position: relative;
    z-index: 0;
    padding: 3rem;

    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

}


.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url("/images/light-leaves-shadow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    opacity: 0.6;
    pointer-events: none;
    z-index: -2;
}